.cardDetails {
  background-color: azure;
}

.detailedChartContainer {
  height: 450px;
  width: 90%;
  margin: 5%;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.detailedViewToggle {
  display: flex;
  justify-content: center;
}

.viewContainer {
  padding: 1%;
  margin: 5%;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.SVHeader {
  font-size: 3em;
  font-weight: bolder;
}

.headerRow {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.statementContainer {
  display: flex;
}

.headingContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  margin-top: 1em;
  font-weight: bold;
}

.headingContainerE {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  margin-top: 1em;
  // padding-top: 1em;
  font-weight: bold;
}


.lineHeading {
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: 110%;
}

.lineHeadingE {
  display: flex;
  align-items: center;
  margin-top: 2em;
  width: 110%;
}

.heading {
  min-width: 240px;
  // max-width: 75%;
  // font-size: small;
  text-align: left;
  vertical-align: baseline;
  // margin-bottom: 0px;
}

.finalHeading {
  min-width: 80%;
  // max-width: 75%;
  // font-size: small;
  text-align: left;
  margin-bottom: 2em;
}

.assetsContainer {
  display: flex;
  justify-content: space-between;
  // min-width: 1080px;
  width: 1080px;
  // max-width: 100%;
  overflow-x: scroll;
}

.column {
  min-width: 200px;
}

.colBreak {
  width: 200px;
}

.box {
  text-align: center;
}

.boxFinal {
  text-align: center;
  margin-bottom: 2em;
}

.boxFinalE {
  text-align: center;
  margin-bottom: 1em;
}

span {
  text-align: center;
}

.year {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.yearBox {
  text-align: center;
  margin-bottom: 1em;
}

.finalYearBox {
  text-align: center;
}

.line {
  display: flex;
  justify-content: space-between;
}

.lineBreak {
  flex-basis: 100%;
}

.greaterH {
  display: flex;
  align-items: center;
  color: green;
  text-align: center;
  width: 25%;
  margin-bottom: 1em;
}

.lesserH {
  display: flex;
  align-items: center;
  color: red;
  text-align: center;
  width: 25%;
  margin-bottom: 1em;
}

.nullHeader {
  // font-size: smaller;
  width: 150px;
  font-weight: 300;
}

.greater {
  // display: flex;
  // align-items: flex-end;
  color: green;
  text-align: center;
  // width: 100%;
  margin-bottom: 1em;
}

.lesser {
  // display: flex;
  // align-items: flex-end;
  color: red;
  text-align: center;
  // width: 100%;
  margin-bottom: 1em;
}

.finalColumn {
  // display: grid;
  width: 200px;
}

.final {
  margin-top: 5em;
}