.infoBox {
  margin: 25px;
}

.infoComponent {
  position: relative;
}

.tooltip {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  top: -140px;
}