.infoBox {
  margin: 25px;
}

.infoComponent {
  position: relative;
}

.tooltip {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  right: -200px;
  top: -20px;
  width: 300px;
  z-index: 20;
}